-# Encoding:utf-8

%h2 ForecastPusherとは？
.row
  .span12
    %p
      毎朝6時過ぎに登録している地点の天気予報をTwitterのメンションで送ります。
      %br/
      メンションは自分のアカウントから送られるので、プッシュ通知が行われることがなく、
      睡眠を妨げません。
    %p 天気予報は気象庁の公表データに基づいております。
    %p
      %strong 配信フォーマットは次のようになります。
    .row
      .span8
        %pre
          @Username 2012/04/21 東京都 東京地方の天気 くもりのち時々晴れ, 最高: 17度, 最低: 11度, 降水確率: 00-06時: 20%, 06-12時: 10%, 12-18時: 10%, 18-24時: 10%
%section
  %h2 登録
  .row
    .span12
      %a{:href => "/"}> トップページ
      \ からTwitterアカウントでログインしてください。
      %br/
      ログイン後、登録したい地点を選択して登録ボタンを押して下さい。
%section
  %h2 登録地点確認
  .row
    .span12
      %a{:href => "/mypage"}> Mypage
      \ から登録地点を確認、削除できます。
%section
  %h2 登録地点変更
  .row
    .span12
      %a{:href => "/"}> トップページ
      \ から登録地点を選択し、変更登録して下さい。
      %br/
      登録地点を変更する際はあらかじめ登録地点を解除する必要はありません。
%section
  %h2 退会
  .row
    .span12
      %a{:href => "/mypage/"}> Mypage
      \ から退会ボタンを押して退会して下さい。
%section
  %h2 個人情報について
  .row
    .span12
      登録された個人情報は当サービス以外には利用せず、第三者からの開示を要求されてもこれには応じません。
      %br/
      個人情報取り扱いについて不明な点ありましたら 
      %a{:href => "http://twitter.com/#!/YasuOza", :target => "_blank"}> @YasuOza
      \ まで
      お問い合わせ下さい。

.space10
  &nbsp;
